@model SenDeOku.Models.ProductsModel
@{
    Layout = "_LayoutKullanici";
    int i = 0;
    float price = 0;
}

<section id="advertisement">
    <div class="container">
        <img src="~/mydoc/img/assets/home/kargoBedava.png" alt="" />
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center" style="color:black">@Model.Name</h2>
                    @for (i = 0; i < Model.BookPublisherSameDetailModel.Count; i++)
                    {
                        if (Model.BookPublisherSameDetailModel[i].Book.Count > 0)
                        {
                            price = float.Parse(Model.BookPublisherSameDetailModel[i].Book.Price.ToString());
                            if (Model.BookPublisherSameDetailModel[i].Book.Discount > 0)
                            {
                                price *= float.Parse(Model.BookPublisherSameDetailModel[i].Book.Discount.ToString());
                                price /= 100;
                                price = (float.Parse(Model.BookPublisherSameDetailModel[i].Book.Price.ToString()) - price);
                            }
                            <div class="col-sm-3">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="~/mydoc/img/assets/books/@Model.BookPublisherSameDetailModel[i].Book.Photo" alt="" width="150" height="300" />
                                            <h2>@price TL</h2>
                                            <a asp-action="BookDetails"  asp-controller="Kullanici" asp-route-id="@Model.BookPublisherSameDetailModel[i].Book.BookID" style="color:black"> @Model.BookPublisherSameDetailModel[i].Book.Name <br /> @Model.BookPublisherSameDetailModel[i].Author.Name</a><br />
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detaylar</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                @if (Model.BookPublisherSameDetailModel[i].Book.Information.Length > 500)
                                                {
                                                    <p>@Model.BookPublisherSameDetailModel[i].Book.Information.Substring(0, 500) ...</p>
                                                }
                                                else
                                                {
                                                    <p>@Model.BookPublisherSameDetailModel[i].Book.Information</p>
                                                }
                                                <a style="color:black">Kazancınız: <b>@(Model.BookPublisherSameDetailModel[i].Book.Price - price) TL</b> </a> <br />
                                                <a style="color:black">@Model.BookPublisherSameDetailModel[i].Book.Name  <br /> @Model.BookPublisherSameDetailModel[i].Author.Name </a> <br />
                                                <form asp-action="Card" asp-controller="Kullanici">
                                                    <input type="hidden" name="id" value="@Model.BookPublisherSameDetailModel[i].Book.BookID" />
                                                    <button class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Sepete Ekle</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="choose">
                                        <ul class="nav nav-pills nav-justified">
                                            <li><a asp-action="BookDetails" asp-controller="Kullanici" asp-route-id="@Model.BookPublisherSameDetailModel[i].Book.BookID"><i class="fa fa-plus-square"></i>Detayları Görüntüle</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        }

                    }
                    @if (i == 0)
                    {
                        <a style="color:black">Maalesef tüm ürünlerimiz tükenmiştir. En kısa zamanda stoklar yenilenecektir.</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

