@model IEnumerable<SenDeOku.Entities.Category>

@{
    Layout = "_LayoutAdmin";
}

<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("MenuEkle","Admin")" style="color:white; background-color:orange; border-radius:1.0rem"> &nbsp;&nbsp;Menü Ekle&nbsp;&nbsp;</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Kategori ID
                        </th>
                        <th scope="col">
                            Kategori Adi:
                        </th>
                        @if (ViewBag.error != "")
                        {
                            <script>
                                    alert("@ViewBag.error")
                            </script>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.CategoryID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="MenuDuzenle" asp-route-id="@item.CategoryID" style="color:white; background-color:gray; border-radius:0.4rem;">&nbsp;&nbsp;Düzenle&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;
                                    <a asp-action="MenuSil" asp-route-id="@item.CategoryID" style="color:white; background-color:darkgray; border-radius:0.4rem">&nbsp;&nbsp;Sil&nbsp;&nbsp;</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>