@model IEnumerable<SenDeOku.Entities.Slider>

@{
    Layout = "_LayoutAdmin";
}

<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <a href="@Url.Action("SlaytEkle","Admin")" style="color:white; background-color:orange; border-radius:1.0rem"> &nbsp;&nbsp;Fotoğraf Ekle&nbsp;&nbsp;</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Slayt ID
                        </th>
                        <th scope="col">
                            Slayt İsmi
                        </th>
                        <th scope="col">
                            Slayt Fotoğrafı
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var item in Model)
                        {
                            <tr>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.SliderID)
                                </td>
                                <td scope="row">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <img src="~/mydoc/img/assets/slider/@Html.DisplayFor(modelItem => item.Photo)" width="200" height="50" />
                                </td>
                                <td>
                                    <a asp-action="SlaytDuzenle" asp-route-id="@item.SliderID" style="color:white; background-color:gray; border-radius:0.4rem;">&nbsp;&nbsp;Düzenle&nbsp;&nbsp;</a> &nbsp;&nbsp;&nbsp;
                                    <a asp-action="SlaytSil" asp-route-id="@item.SliderID" style="color:white; background-color:darkgray; border-radius:0.4rem">&nbsp;&nbsp;Sil&nbsp;&nbsp;</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>